# following env variables are required to run this project

# nuxt-neon module DB connection info
# used for "Subscribe to newsletter" feature to store given emails
# contact alois.seckar@gmail.com to get credentials if needed
NUXT_NEON_HOST=<NeonDB_host>
NUXT_NEON_USER=<NeonDB_user>
NUXT_NEON_PASS=<NeonDB_pass>
NUXT_NEON_DB=<NeonDB_name>
